<!DOCTYPE html>
<html>
<head>
    <title>Seoul Subway API</title>
    <style>
        .big_blue {
            font-size: 2em;
            color: blue;
        }
    </style>
    <style>
        .small_black {
            font-size: 0.8em;
            color: black;
        }
    </style>
</head>
<body>
    <h1 class="big_blue">지하철 실시간 위치정보</h1>
    <h4>
        지하철 정보 보기
    </h4>
    <h4>
        ㅇㅅㅇ
    </h4>
    <button onclick="window.location.href='/subway';">위치정보</button>
    <button onclick="window.location.href='/route_map';">노선도</button>
    <form class ="search-box", action="" method="get">
        <input class="search-box" type="text" name="" placeholder="역 이름 입력">
        <button class="search-btn" type="submit">
            검색
        </button>
    </form>
</body>
</html>