<!DOCTYPE html>
<html>
<head>
    <title>Seoul Subway API</title>
    <style>
        .main {
            font-size: 2em;
            color: blue;
        }
    </style>
    <style>
        .description {
            font-size: 0.8em;
            color: gray;
        }
    </style>
</head>
<body>
    <h1 class="main">지하철 실시간 위치정보</h1>
    <p class="description">
        지하철 정보 보기
    </p>
    <p class="description">
        ㅇㅅㅇ
    </p>
    <button onclick="window.location.href='/subway';">바로가기1</button>
    <button onclick="window.location.href='/subway';">바로가기2</button>
</body>
</html>
